<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="bootstrap-table">
                        <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST"
                              action="">
                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">类型:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_type_cn" data-rule="required"
                                           data-source="material_purchase/getTypeList" class="form-control selectpage"
                                           name="row[mp_type_cn]" {if $input_disabled==true} disabled {/if} type="text" value="{$row.mp_type_cn|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Mp_ghs_id')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_ghs_id" data-rule="required" data-source="supplier/selectpage"
                                           class="form-control selectpage" {if $input_disabled==true} disabled {/if} name="row[mp_ghs_id]" type="text"
                                           value="{$row.mp_ghs_id|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">材料名称:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_cl_name" class="form-control" data-rule="required" name="row[mp_cl_name]" type="text" value="{$row.mp_cl_name|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">材料型号:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_cl_model" class="form-control" name="row[mp_cl_model]" type="text" value="{$row.mp_cl_model|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">材料规格:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_cl_specifications" class="form-control" name="row[mp_cl_specifications]" type="text" value="{$row.mp_cl_specifications|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">材料品牌:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_cl_brand" class="form-control" name="row[mp_cl_brand]" type="text" value="{$row.mp_cl_brand|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Mp_budget_quantity')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_budget_quantity" data-rule="required" class="form-control"
                                           name="row[mp_budget_quantity]" {if $input_disabled==true} disabled {/if} type="number"
                                    value="{$row.mp_cw_budget_quantity > 0?$row.mp_cw_budget_quantity:$row.mp_budget_quantity}" {if $row.mp_cw_budget_quantity > 0} style="color:red;" {/if} >
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Mp_purchased_quantity')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_purchased_quantity" data-rule="required" class="form-control"
                                           name="row[mp_purchased_quantity]" {if $input_disabled==true} disabled {/if} type="number"
                                    value="{$row.mp_cw_purchased_quantity > 0?$row.mp_cw_purchased_quantity:$row.mp_purchased_quantity}" {if $row.mp_cw_purchased_quantity > 0} style="color:red;" {/if} >
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Mp_sq_quantity')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_sq_quantity" class="form-control" name="row[mp_sq_quantity]" {if $input_disabled==true} disabled {/if}
                                           type="number" value="{$row.mp_sq_quantity|htmlentities}"
                                    value="{$row.mp_cw_sq_quantity > 0?$row.mp_cw_sq_quantity:$row.mp_sq_quantity}" {if $row.mp_cw_sq_quantity > 0} style="color:red;" {/if} >
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Mp_unit')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_unit" data-rule="required" class="form-control" name="row[mp_unit]" {if $input_disabled==true} disabled {/if}
                                           type="number" value="{$row.mp_cw_unit > 0?$row.mp_cw_unit:$row.mp_unit}" {if $row.mp_cw_unit > 0} style="color:red;" {/if} >
                                </div>
                            </div>


                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Mp_total')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_total" data-rule="required" class="form-control" step="0.01" {if $input_disabled==true} disabled {/if}
                                           name="row[mp_total]" type="number" value="{$row.mp_cw_total > 0?$row.mp_cw_total:$row.mp_total}" {if $row.mp_cw_total > 0} style="color:red;" {/if}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">{:__('Order')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-order" class="form-control" name="row[order]" type="number" value="{$row.order|htmlentities}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">发货人确认</label>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="radio">
                                        {foreach name="fhrqrList" item="vo"}
                                        <label for="row[mp_fhrqr]-{$key}"><input id="row[mp_fhrqr]-{$key}" name="row[mp_fhrqr]" type="radio" {if $goods_disabled == true} disabled {/if} value="{$key}" {in name="key" value="$row.mp_fhrqr"}checked{/in} /> {$vo}</label>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="control-label col-xs-4">收货日期:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input id="c-mp_sh_time" data-rule="required" class="form-control datetimepicker" {if $goods_disabled == true} disabled {/if} data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[mp_sh_time]" type="text" value="{:$row.mp_sh_time?datetime($row.mp_sh_time):''}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">{:__('Mp_remark')}:</label>
                                <div class="col-xs-12 col-sm-8">
                                    <textarea id="c-mp_remark" class="form-control " rows="5" name="row[mp_remark]" {if $input_disabled==true} disabled {/if}
                                              cols="50">{$row.mp_remark|htmlentities}</textarea>
                                </div>
                            </div>
                            <input type="hidden" name="ma_id" value="{$row.ma_id}">
                            <input type="hidden" name="row[mp_cwqr]" value="{$row.mp_cwqr == 'Y'?'N':'Y'}">
                            <div class="form-group layer-footer">
                                <label class="control-label col-xs-4"></label>
                                <div class="col-xs-12 col-sm-8">
                                {if $cwqr_buttons_show==true}
                                    {if $row.mp_cwqr=='Y'}
                                        <button type="submit" class="btn btn-success btn-embossed disabled">确认不通过</button>
                                    {else}
                                        <button type="submit" class="btn btn-success btn-embossed disabled">确认通过</button>
                                    {/if}
                                {else}
                                    {if $input_disabled==false}
                                        <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                                    {/if}
                                {/if}
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>